.wrapper {
  margin: 1rem 2rem;
}

.card {
  background: white;
  min-width: 200px;
  padding: 1rem;
    width: 80vw;
  border-radius: 10px;
  margin: 1rem 0;
}

.container{
    /* background-image: url('../public/logo.jpg'); */
    background: black;
    border-radius: 10px;
    min-height: 15rem;
    min-width: 80%;
    color: white;
    padding: 2rem 4rem;
    display:flex;
    flex-direction: column;
    justify-content: center;

}

.subTitle {
    font-size: 1rem;
}

.title{
    font-size: 1.5rem;
}
